:root {
  --color-brand: #819857;
  --color-primaty: #faf4ea;
  --color-h2-dark: #31261a;
  --color-brand-dark: #465929;
}

/* base */
body {
  color: var(--color-h2-dark);
}
/* button style */
.button {
  color: var(--color-primaty);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
/* link style */
.link {
  color: var(--color-primaty);
}

.link:hover {
  color: var(--color-brand);
}

/* hero-title style */
.hero-title {
  color: var(--color-primaty);
}

.accent {
  color: var(--color-brand);
}

/* list style */
.advantages-list {
  background-color: var(--color-brand);
  color: var(--color-primaty);
}

/* h2 style */
.section-title {
  color: var(--color-h2-dark);
}
.section-title .accent {
  color: var(--color-brand-dark);
}
